/* Gerais*/
body {
    font-family: 'Roboto', sans-serif;
}
.row {
    margin: 0;
}

.container{
    padding: 70px 0;
}
p, li {
    color: #444;
    font-size: 14px;
}
/* Barra de Navegação*/
header, .navbar {
   background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
#logo {
    width: 200px;
}

.navbar-brantd {
    padding: 0;
    color: #fff;
}
.navbar-brantd:hover {
    color: #fff;
}
#navbar-links a {
    color: #fff;
}
.navbar-expand-lg .navbar-nav .navbar-link {
    padding: 1rem .8rem;
}