/* Gerais*/
body {
    font-family: 'Roboto', sans-serif;
}
.row {
    margin: 0;
}

.container{
    padding: 70px 0;
}
p, li {
    color: #444;
    font-size: 14px;
}
/* Barra de Navegação*/
header, .navbar {
   background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
}
#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}
#logo {
    width: 80px;
    border-radius: 10px;
}

.navbar-brantd {
    padding: 0;
    color: #fff;
}
.navbar-brantd:hover {
    color: #fff;
}
#navbar-links a {
    color: #fff;
}
.navbar-expand-lg .navbar-nav .navbar-link {
    padding: 1rem .8rem;
}

/*Estilizando rodapé*/
.rodape{
    background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
    left: 0;
    bottom:0;
    width:100%;
    height: 50px;
  }
  
  .rodape-paragrafo{
    text-align: center;
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
    color: black;
    padding: 5px;
  }

  /*Login*/

  .botao{
    margin-right: 5%;
}

.container-login{
    background-color: #b5aee4;
    display: flex;
    margin: 7rem auto;
    width: 500px;
    border-radius: 20px;
    height: auto;
}

#forms-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-family: BEBAS;
    font-size: 35px;
    color: white;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 6px;
}

hr{
    width: 500px;
}

.inputs{
    display: flex;
    flex-direction: column;
    text-align: left;
}

#email3, #input-pass, #btn-login, .links-login.inputs{
    margin-bottom: 13px;

}

#email3, #input-pass{
    background-color: #585e92;
    width: 350px;
    padding: 5px;
    height: 32px;
    border: none;
    color: white;
}

#email3:focus,
#input-pass:focus{
    background-color: #043d52;
    outline: 0;
    border: none; 
    color: white;
}


.btn-login{
    height: 32px;
    width: 60px;
    font-size: 19px;
    color: black;
    box-shadow: 3px 3px #F249B7, 0.5em 0 0.4em;
    font-family: BEBAS;
}

.links-login.inputs{
    text-align: center;
}

#footer-sm {
    margin-top: 3%;

}